
### folders
.docker.r2g
.circleci
node_modules
scripts
test
.idea
.vscode
coverage
.nyc_output
build/Release
src

### files
.editorconfig
.gitattributes
.gitignore
.npmignore
.travis.yml
suman.conf.js
.dockerignore
Dockerfile*

### matching
*.log
*.md
tsconfig*.json
*.DS_Store
*.tgz

